body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('img/background-Winter/background-img.jpg');
    font-family: 'Pacifico', cursive;
}

canvas {
    background-color: black;
    border-radius: 15px;
    display: block;
}

h1 {
    display: flex;
    position: relative;
    top: -30px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    justify-content: space-between;
    width: 400px;
    filter: drop-shadow(5px 5px 3px rgb(64, 115, 224));
}

.d-none {
    display: none;
}

.content {
    position: relative;
    width: 720px;
    height: 480px;
}

.startscreen {
    position: absolute;
    width: 720px;
    height: 480px;
}

.startscreen-img {
    position: absolute;
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.menuList {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    top: 20px;
    left: 20px;
    gap: 15px;
}

.info img {
    width: 35px;
    height: 35px;
    background-color: rgb(64, 115, 224);
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.controller img {
    width: 35px;
    height: 35px;
    background-color: rgb(64, 115, 224);
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.mute img {
    width: 35px;
    height: 35px;
    background-color: rgb(64, 115, 224);
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.fullscreen img {
    width: 35px;
    height: 35px;
    background-color: #4073e0;
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.startGame {
    position: relative;
    top: 185px;
    justify-content: center;
    display: flex;
}

.startGame img {
    width: 90px;
    height: 90px;
    border-radius: 20%;
    background-color: #4073e0;
    border: 2px solid rgb(15, 0, 153);
}

.knigthCharacter {
    position: relative;
    top: 170px;
    left: 30px;
}

.knigthCharacter img {
    width: 160px;
    height: 150px;
}

.golemEndboss {
    position: relative;
    left: 510px;
    bottom: 72px;
}

.golemEndboss img {
    width: 200px;
    height: 250px;
}


.rotationView h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    filter: drop-shadow(5px 5px 3px rgb(64, 115, 224));
}

.rotatePhone {
    height: 250px;
    width: 250px;
    rotate: 135deg;
    -webkit-animation: rotate 5s linear infinite;
    -moz-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
}

.youWinGame {
    position: absolute;
    width: 720px;
    height: 480px;
    top: 0;
}

.youWinGame img {
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.youLoseGame {
    position: absolute;
    width: 720px;
    height: 480px;
    top: 0;
    z-index: 3;
}

.youLoseGame img {
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.restartGame {
    position: absolute;
    justify-content: center;
    display: flex;
    bottom: 10px;
    color: rgb(0, 0, 0);
    filter: drop-shadow(5px 5px 3px rgb(64, 115, 224));
    text-align: center;
    width: 720px;
}

.btn {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    background-color: #4073e0b4 ;
    cursor: pointer;
}

@keyframes rotate {

    0%,
    100% {
        -webkit-transform: rotate(-0deg);
        transform: rotate(-0deg);
    }

    50% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

/* Smartphones -------*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .rotationView {
        display: flex;
        position: absolute;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
    }
}

/* Smartphones -------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}