body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('img/background-Winter/background-img.jpg');
    font-family: 'Pacifico', cursive;
}

canvas {
    background-color: black;
    border-radius: 15px;
    display: block;
}

h1 {
    display: flex;
    position: relative;
    top: -30px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    justify-content: space-between;
    width: 400px;
    filter: drop-shadow(5px 5px 3px rgb(64, 115, 224));
}

.d-none {
    display: none;
}

.content {
    position: relative;
    width: 720px;
    height: 480px;
}

.startscreen {
    position: absolute;
    width: 720px;
    height: 480px;
}

.startscreen-img {
    position: absolute;
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.menuList {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    top: 20px;
    padding-left: 20px;
    gap: 15px;
}

.info img {
    width: 35px;
    height: 35px;
    background-color: rgb(64, 115, 224);
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.controller img {
    width: 35px;
    height: 35px;
    background-color: rgb(64, 115, 224);
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.mute img {
    width: 35px;
    height: 35px;
    background-color: rgb(64, 115, 224);
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.fullscreen img {
    width: 35px;
    height: 35px;
    background-color: #4073e0;
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
}

.menuListIngame {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translate(-50%, -15%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.ingameButton img{
    width: 25px;
    height: 25px;
    background-color: #4073e0;
    border-radius: 50%;
    border: 2px solid rgb(15, 0, 153);
    padding: 5px;
    cursor: pointer;
}

.startGame {
    position: relative;
    top: 185px;
    justify-content: center;
    display: flex;
}

.startGame img {
    width: 90px;
    height: 90px;
    border-radius: 20%;
    background-color: #4073e0;
    border: 2px solid rgb(15, 0, 153);
}

.startGame img:hover,
.info img:hover,
.controller img:hover,
.mute img:hover,
.fullscreen img:hover {
    box-shadow: 0 0 8px 4px rgb(15, 0, 153);
    cursor: pointer;
}

.closeInfo {
    position: absolute;
    width: 720px;
    height: 480px;
    background-color: #4073e0;
    border-radius: 15px;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: #4073e0;
    scale: 1.15;
    transition: 0.5s;
    width: 70px;
    height: 70px;
}

.headlineGameInfo {
    position: absolute;
    top: -15px;
    text-align: center;
    width: 720px;
}

.infoContent {
    position: absolute;
    top: 130px;
    padding: 20px;
    font-size: 26px;
}

.closeController {
    position: absolute;
    width: 720px;
    height: 480px;
    background-color: #4073e0;
    border-radius: 15px;
}

.headlineController {
    position: absolute;
    top: -15px;
    text-align: center;
    width: 720px;
}

.controllerContent {
    position: absolute;
    top: 140px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-end;
}

.buttonLayout {
    display: flex;
    justify-content: flex-end;
    width: 270px;
    align-items: center;
    margin-bottom: 8px;
}

.controller-btn {
    width: 60px;
    height: 50px;
    text-align: center;
}

.hyphen {
    margin-right: 30px;
    margin-left: 30px;
}

.endOfGame {
    position: absolute;
    width: 720px;
    height: 480px;
    top: 0;
    z-index: 993;
}

.youWinGame-img {
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.youLoseGame-img {
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.restartGame {
    position: absolute;
    justify-content: center;
    display: flex;
    bottom: 0px;
    color: rgb(0, 0, 0);
    filter: drop-shadow(5px 5px 3px rgb(236,57,0));
    text-align: center;
    width: 720px;
}



.btn-win {
    background-color:rgb(236,57,0);
    font-size: 36px;
    filter: drop-shadow(5px 5px 3px rgb(236,57,0));
    border-radius: 15px;
    cursor: pointer;
}

.btn-lose {
    font-size: 38px;
    cursor: pointer;
}

.btn-win:hover, 
.btn-lose:hover {
    scale: 1.1;
    transition: 0.2s;
}

.content:fullscreen .startscreen-img,
.content:fullscreen .startscreen,
.content:fullscreen canvas {
    height: 100% !important;
    width: 100% !important;
}

.content:fullscreen .closeInfo {
    position: flex;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4073e0;
    border-radius: 15px;
}

.content:fullscreen .closeController {
    position: flex;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4073e0;
    border-radius: 15px;
}

.content:fullscreen .endOfGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.rotationView h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    filter: drop-shadow(5px 5px 3px rgb(64, 115, 224));
}

.rotatePhone {
    height: 250px;
    width: 250px;
    rotate: 135deg;
    -webkit-animation: rotate 5s linear infinite;
    -moz-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {

    0%,
    100% {
        -webkit-transform: rotate(-0deg);
        transform: rotate(-0deg);
    }

    50% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

.mobilePanels {
    display: none;
}

.mobileMove {
    display: flex;
    gap: 30px;
    padding-left: 30px;
}

.mobileAction {
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

.mobileIcon {
    display: flex;
    width: 38px;
    height: 38px;
}

.mobileIconRight {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid;
    justify-content: center;
}

.throwingButton {
    display: flex;
    justify-content: center;
    padding-right: 3px;
    align-items: center;
}

/* Smartphones -------*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        height: 100%;
    }

    .menuList {
        width: 96%;
        left: 0;
    }

    h1 {
        display: none;
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .startscreen {
        width: 100%;
    }

    .startscreen-img {
        width: 100%;
    }

    .endOfGame {
        height: 100%;
        width: 100%;
    }

    .youLoseGame-img {
        height: 100vh;
        width: 100%;
    }

    .youWinGame-img {
        height: 100vh;
        width: 100%;
    }

    .closeInfo {
        position: flex;
        justify-content: center;
        background-color: #4073e0;
    }

    .mobilePanels {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 5px;
        left: 0;
        justify-content: space-between;
      }
}

@media only screen and (max-width: 630px) {
    .rotationView {
        display: flex;
        position: absolute;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
    }

    .closeInfo {
        position: flex;
        justify-content: center;
        background-color: #4073e0;
    }
}

/* Smartphones -------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    h1 {
        /* width: 100%; */
        display: none;
    }

    .content {
        width: 100%;
        height: 100vh;
    }

    .startscreen {
        width: 100%;
        height: 100vh;
    }

    .startscreen-img {
        width: 100%;
        height: 100vh;
    }

    .endOfGame {
        height: 100%;
        width: 100%;
    }

    .youLoseGame-img {
        height: 100vh;
        width: 100%;
    }

    .youWinGame-img {
        height: 100vh;
        width: 100%;
    }

    .closeInfo {
        width: 100%;
        height: 100%;
        position: flex;
        justify-content: center;
        background-color: #4073e0;
        border-radius: 0px;
    }

    .infoContent {
        width: 96%;
        font-size: 20px;
        padding: 0;
        padding-left: 15px;
    }

    .headlineGameInfo {
        width: 100%;
    }

    .closeController {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .headlineController {
        width: 100%;
    }

    .mobilePanels {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 5px;
        left: 0;
        justify-content: space-between;
    }
}